[submodule "dependencies/openipsl"]
	path = dependencies/openipsl
	url = https://github.com/OpenIPSL/OpenIPSL.git
[submodule "dependencies/Modelica-FMI"]
	path = dependencies/Modelica-FMI
	url = https://github.com/modelica/Modelica-FMI
