# Ignore Modelica backup files
*~
*.bak
*.bak-mo

# Ignore content of Modelica work directory, except generated eFMUs, SiL tests and FMUs:
Modelica/work/*

!Modelica/work/PSSTypeIIParam
!Modelica/work/PSSTypeIIParam_SiLTest_generated
!Modelica/work/H67479d7783111b50ee4f84437c325e160da02330.mo

!Modelica/work/PSSTypeIIHPFilter
!Modelica/work/PSSTypeIIHPFilter_SiLTest_generated
!Modelica/work/Ha7cb37a433f18e8802317f9a0017ef7e53a577cd.mo

!Modelica/work/PSSTypeIISimpleHPF
!Modelica/work/PSSTypeIISimpleHPF_SiLTest_generated
!Modelica/work/H225c1baf6cf5a31bc9b0c38998c32298f6f0531c.mo

!Modelica/work/Grid4HIL
!Modelica/work/Grid4HIL_SiLTest_generated
!Modelica/work/Hb19687235d2c965cb2cc94660375f820a1114ea7.mo

!Modelica/work/Grid4CHIL
!Modelica/work/Grid4CHIL_SiLTest_generated
!Modelica/work/Hcbd8c48e05b139646178cc6f7987b8955b6ce985.mo

!Modelica/work/Grid4CHIL_IOplus
!Modelica/work/Grid4CHIL_IOplus_SiLTest_generated
!Modelica/work/Hcbd8c48e05b139646178cc6f7987b8955b6ce985.mo
