# Ignore Modelica backup files
*~
*.bak
*.bak-mo

# Ignore content of Modelica work directory, except generated eFMUs, SiL tests and FMUs:
Modelica/work/*
!Modelica/work/Grid4CHILTesting
!Modelica/work/GridForHILTesting
!Modelica/work/PSSTypeII4eFMI
!Modelica/work/PSSTypeII4eFMIwHPF
!Modelica/work/'eFMU experiment package (Grid4CHILTesting, PSSDesign.eFMU4CHIL.TestGridForCHILpClocked)'
!Modelica/work/'eFMU experiment package (GridForHILTesting, PSSDesign.eFMUs4RTHIL.TestGridForHILClocked)'
!Modelica/work/'eFMU experiment package (PSSTypeII4eFMI, PSSDesign.Components.TestComponents.Example_3_PSSDesign4PSSVariantClocked)'
!Modelica/work/PSSTypeII4eFMIwHPF_SiLTest_generated
