# Ignore Modelica backup files
*~
*.bak
*.bak-mo

# Ignore content of Modelica work directory, except generated eFMUs, SiL tests and FMUs:
Modelica/work/*

!Modelica/work/PSSTypeIIParam
!Modelica/work/PSSTypeIIParam_SiLTest_generated
!Modelica/work/H67479d7783111b50ee4f84437c325e160da02330.mo

!Modelica/work/PSSTypeIIHPFilter
!Modelica/work/PSSTypeIIHPFilter_SiLTest_generated
!Modelica/work/Ha7cb37a433f18e8802317f9a0017ef7e53a577cd.mo
